html,
body {
    background:#808080;
    background-image:url('../images/carbon.jpg');
    overflow:hidden;
}

.center {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.bottom0 {
    margin-bottom:0;
}

.top5 {
    margin-top:5px;
}

.top10 {
    margin-top:10px;
}

.top20 {
    margin-top:20px;
}

.top50 {
    margin-top:50px;
}

.staticmodal {
    position:relative;
    display:block;
}

.navcontainer {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background:#101010;
    color:white;
}

.navrow {
    padding:10px;
}

.modal-content {
    background:rgba(0,0,0,0.6);
    -webkit-box-shadow: none;
    box-shadow: none;
    color:white;
}