<?xml version="1.0" encoding="UTF-8"?>

<widget id="com.voodoo.mobile" version="0.0.1" xmlns= "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0">

  <name>Voodoo</name>
  <description>
    Voodoo for mobile devices
  </description>
  <author email="info@voodoo-sl.com" href="https://voodoo.community">
    Voodoo
  </author>
  <content src="index.html" />
  <access origin="*" />

  <preference name="permissions"                value="none"/>

  <preference name="Orientation" value="landscape" />
  <preference name="DisallowOverscroll" value="true"/>

</widget>